<div class="containter">
  <div class="page-header">
    <h1>
      Countries of Origin
    </h1>
  </div>

  <div class="row mb-1">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>find your happy place.</h1>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3" style="text-align: center;">
      <strong> Sort by: </strong>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <%= sort_link(@q, :name) do %>
      <strong>Name</strong>
      <% end %>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <%= sort_link(@q, :beans_count) do %>
      <strong># of Beans</strong>
      <% end %>
    </div>
        <div class="col-md-3" style="text-align: center;">
      <%= sort_link(@q, :updated_at) do %>
      <strong>Date Added</strong>
      <% end %>
    </div>
      </div>


  <div class="row mb-1">
    <div class="col-md-12">
      <div class="table">
        <% @origin_countries.each do |country| %>
        <div class="col-md-6">
          <div class="panel panel-default" style="height: 350px;">
            <div class="panel-heading" style="text-align: center;">
              <h4 class="panel-title">
                <a href="/origin_countries/<%= country.id %>"><%= country.name %></a>
              </h4>
            </div>
            <div class="panel-body">
              <a href="/origin_countries/<%= country.id %>">
                <img src="<%= country.cover_photo_url %>" class="img-responsive center-block" style="max-height:250px;">
              </a>
            </div>
          </div>
        </div>
        <% end %>
        <!-- <%= paginate @origin_countries, theme: 'twitter-bootstrap-4' %> -->
      </div>
    </div>
  </div>
</div>
