<!-- Validation failure messages -->
<% if @roaster.errors.any? %>
  <% @roaster.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Roaster</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_roaster" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="" class="form-control" value="<%= @roaster.name %>">
      </div>

      <!-- Label and input for cover_photo_url -->
      <div class="form-group">
        <label for="cover_photo_url" class="control-label">
          Cover photo url
        </label>

        <input type="text" id="cover_photo_url" name="cover_photo_url" placeholder="" class="form-control" value="<%= @roaster.cover_photo_url %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="" class="form-control" rows="3"><%= @roaster.description %></textarea>
      </div>


      <!-- Label and input for website_url -->
      <div class="form-group">
        <label for="website_url" class="control-label">
          Website url
        </label>

        <input type="text" id="website_url" name="website_url" placeholder="" class="form-control" value="<%= @roaster.website_url %>">
      </div>

      <!-- Label and input for city -->
<div class="form-group">
  <label for="city" class="control-label">
    City
  </label>

  <input type="text" id="city" name="city" placeholder="" class="form-control" value="<%= @roaster.city %>">
</div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="" class="form-control" value="<%= @roaster.location %>">
      </div>

      <!-- Label and input for delivers -->
      <div class="checkbox">
        <label for="delivers">
          <input type="checkbox" id="delivers" name="delivers" value="1" <%= "checked" if @roaster.delivers %>>
          Delivers
        </label>
      </div>

      <!-- Label and input for delivery_method -->
      <div class="form-group">
        <label for="delivery_method" class="control-label">
          Delivery method
        </label>

        <input type="text" id="delivery_method" name="delivery_method" placeholder="" class="form-control" value="<%= @roaster.delivery_method %>">
      </div>

      <!-- Label and input for delivery_notes -->
      <div class="form-group">
        <label for="delivery_notes" class="control-label">
          Delivery notes
        </label>

        <textarea id="delivery_notes" name="delivery_notes" placeholder="" class="form-control" rows="3"><%= @roaster.delivery_notes %></textarea>
      </div>

      <!-- Label and input for delivery_geography -->
      <div class="form-group">
        <label for="delivery_geography" class="control-label">
          Delivery geography
        </label>

        <input type="text" id="delivery_geography" name="delivery_geography" placeholder="" class="form-control" value="<%= @roaster.delivery_geography %>">
      </div>

      <button class="btn btn-success">
        Create Roaster
      </button>
      or
      <a href="/roasters">Cancel</a>
    </form>
  </div>
</div>
