<div class="page-header">
  <h3>Roaster #<%= @roaster.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @roaster.description %></dd>

      <dt>Name</dt>
      <dd><%= @roaster.name %></dd>

      <dt>Website url</dt>
      <dd><%= @roaster.website_url %></dd>

      <dt>Location</dt>
      <dd><%= @roaster.location %></dd>

      <dt>Cover photo url</dt>
      <dd><%= @roaster.cover_photo_url %></dd>

      <dt>City</dt>
      <dd><%= @roaster.city %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/roasters" class="btn btn-primary">
        Back
      </a>
      <a href="/roasters/<%= @roaster.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_roaster/<%= @roaster.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
