<div class="page-header">
  <h3>Roaster #<%= @roaster.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @roaster.description %></dd>

      <dt>Name</dt>
      <dd><%= @roaster.name %></dd>

      <dt>Website url</dt>
      <dd><%= @roaster.website_url %></dd>

      <dt>Location</dt>
      <dd><%= @roaster.location %></dd>

      <dt>Cover photo url</dt>
      <dd><%= @roaster.cover_photo_url %></dd>

      <dt>City</dt>
      <dd><%= @roaster.city %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/roasters" class="btn btn-primary">
        Back
      </a>
      <a href="/roasters/<%= @roaster.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_roaster/<%= @roaster.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Roaster has many beans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Beans
      </li>

      <% @roaster.beans.each do |bean| %>
        <li class="list-group-item">
          <a href="/beans/<%= bean.id %>">
            <%= bean.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/beans/<%= bean.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/beans/<%= bean.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bean/<%= bean.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Roaster has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @roaster.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
