<div class="container">
  <div class="page-header">
    <% if current_user.id != @user.id %>
    <% if FriendRequest.where({ :sender_id => current_user.id, :receiver_id => @user.id, :status => "Y"}).count == 0 %>
    <form action="/create_friend_request" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input type="hidden" name="sender_id" value="<%= current_user.id %>">
      <input type="hidden" name="receiver_id" value="<%= @user.id %>">
      <button class="btn btn-default" style="float: right">
      follow
    </button>
  </form>
    <% else %>
    <a href="/delete_friend_request/<%= FriendRequest.where(sender_id: current_user.id, receiver_id: @user.id).pluck(:id).to_sentence %>" class="btn btn-default" style="float: right";>un-follow</a>
    <% end %>
    <% else %>
    <a href="/users/edit" class="btn btn-default" style="float: right";>edit profile</a>
    <% end %>
    <h1>
      <% if %>
      <% @user.photo_url == nil%>
      <img src="http://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg" class="img-responsive" style="max-height: 75px;">
      <% else %>
      <img src="<%= @user.photo_url %>" class="img-responsive" style="max-height: 75px;">
      <% end %>
        <%= @user.username %> <small> (<%= @user.first_name %> <%= @user.last_name %>) </small>
    </h1>
  <p>
      <%= @user.about %>
    </p>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading" style=>
          <h2>
            Reviews <small style="color: #FFFFFF;"> (<%= @user.reviews.count %>) </small>
          </h2>
        </div>
      </div>

      <% if @user.reviews.count == 0 %>
      <small> no reviews to date </small>
      <% else %>
      <% @user.reviews.each do |review| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <small>
              <%= time_ago_in_words(review.created_at) %> ago
            </small>
          </h3>
        </div>
        <div class="panel-body">
          <p>
            <a href="/beans/<%= review.bean_id %>">
              <%= review.bean.name %></a>
              <a href="/beans/<%= review.bean_id %>">
                <img src="<%= review.bean.image_url %>" class="img-responsive left-block" style="float: right; max-height: 60px;">
              </a>
            </br>
            <a href="/roasters/<%= review.bean.roaster_id %>">
              <small> <%= review.bean.roaster.name %></small></a>
            </p>
            <% if review.overall_rating < 0.75 %>
            <a>
              <i class="fa fa-star-half" aria-hidden="true"></i>
            </a>
            <% else %>
            <% if review.overall_rating < 1.25 %>
            <a>
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
            <% else %>
            <% if review.overall_rating < 1.75 %>
            <<a>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half" aria-hidden="true"></i>
            </a>
            <% else %>
            <% if review.overall_rating < 2.25 %>
            <a>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
            <% else %>
            <% if review.overall_rating < 2.75 %>
            <a>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half" aria-hidden="true"></i>
            </a>
            <% else %>
            <% if review.overall_rating < 3.25 %>
            <a>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
            <% else %>
            <% if review.overall_rating < 3.75 %>
            <a>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half" aria-hidden="true"></i>
            </a>
            <% else %>
            <% if review.overall_rating < 4.25 %>
            <a>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
            <% else %>
            <% if review.overall_rating < 4.75 %>
            <a>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half" aria-hidden="true"></i>
            </a>
            <% else %>
            <a>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </a>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
            <br> </br>
            <% if review.image != "" %>
            <img src="<%= review.image %>" class="img-responsive" style="max-height: 150px;">
          </br>
          <% end %>
          <%= review.comments %>
          <hr style="height:1px; border:none; color:#A9A9A9; background-color:#A9A9A9;">
          <% if review.likes.count == 0 %>
          <form action="/create_like" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" name="review_id" value="<%= review.id %>">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <button class="btn btn-link">
              <i class="fa fa-thumbs-o-up"></i>
            </button>
            <small class="text-muted">be the first to like this</small>
          </form>
          <% else %>
          <% if review.fans.include?(current_user) == true %>
          <a href="/delete_like/<%= review.likes.where(user_id: current_user.id).pluck(:id).to_sentence %>" class="btn btn-link">
            <i class="fa fa-thumbs-up"></i>
          </a>
          <% if review.fans.count == 1 %>
          <%= review.fans.pluck(:username).to_sentence %> likes this
          <% else %>
          <%= review.fans.pluck(:username).to_sentence %> like this
          <% end %>
          <% else %>
          <form action="/create_like" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" name="review_id" value="<%= review.id %>">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <button class="btn btn-link">
              <i class="fa fa-heart-o"></i>
            </button>
            <% if review.fans.count == 1 %>
            <%= review.fans.pluck(:username).to_sentence %> likes this
            <% else %>
            <%= review.fans.pluck(:username).to_sentence %> like this
            <% end %>
            <% end %>
            <% end %>
          </form>
          <p>
          </p>
          <ul class="media-list">
            <% review.responses.each do |response| %>
            <li class="media">
              <div class="media-body">
                <h6 class="media-heading">
                  <a href="/users/<%= response.user_id %>"><%= response.user.username %></a>
                  <small>
                    <%= time_ago_in_words(response.created_at) %>
                  </small>
                </h6>
                <%= response.body %>
              </div>
            </li>
            <% end %>
            <li class="media">
              <div class="media-body">
                <form action="/create_response" method="post">
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="review_id" value="<%= review.id %>">
                  <input type="hidden" name="user_id" value="<%= current_user.id %>">
                  <div class="form-group">
                    <label for="body" class="sr-only"> Body </label>
                    <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control">
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <% end %>
      <%= paginate @reviews, theme: 'twitter-bootstrap-4' %>
      <% end %>
    </div>

    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2>
            Favorites <small style="color: #FFFFFF;"> (<%= @user.inventories.count %>) </small>
          </h2>
        </div>
      </div>

      <% if @user.inventories.count == 0 %>
      <small> no favorites selected </small>
      <% else %>
      <% @user.inventories.order("created_at DESC").each do |favorite| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <small>
              <%= time_ago_in_words(favorite.created_at) %> ago
            </small>
          </h3>
        </div>
        <div class="panel-body">
          <p>
            <a href="/beans/<%= favorite.bean_id %>">
              <%= favorite.bean.name %></a>
              <a href="/beans/<%= favorite.bean_id %>">
                <img src="<%= favorite.bean.image_url %>" class="img-responsive left-block" style="float: right; max-height: 60px;">
              </a>
            </br>
            <a href="/roasters/<%= favorite.bean.roaster_id %>">
              <small>  <%= favorite.bean.roaster.name %></small></a>
            </p>
          </div>
        </div>
        <% end %>
        <% end %>
        <%= paginate @favorites, theme: 'twitter-bootstrap-4' %>
      </div>


      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading" style=>
            <h2>
              Friends
            </h2>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <small>
              Following (<%= @user.friends_where_sender.count %>)
            </small>
            </h3>
          </div>

      <div class="panel-body">
        <ul class="list-group">
          <% @user.friends_where_sender.each do |user| %>
          <li class="list-group-item">
          <a href="/users/<%= user.id %>"> <%= user.username %> <small> (<%= user.first_name %> <%= user.last_name %>) </small>
          </a>
        </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <small>
        Followed By (<%= @user.friends_where_receiver.count %>)
      </small>
        </h3>
      </div>

  <div class="panel-body">
    <ul class="list-group">
      <% @user.friends_where_receiver.each do |user| %>
      <li class="list-group-item">
      <a href="/users/<%= user.id %>"> <%= user.username %> <small> (<%= user.first_name %> <%= user.last_name %>) </small>
      </a>
    </li>
      <% end %>
    </ul>
  </div>
</div>

  </div>
  </div>
</div>
