<div class="container">
  <div class="page-header">
    <h1>
      Marketplace
      <!-- <a href="/beans/new" class="btn btn-lg btn-success">New Bean</a> -->
    </h1>
  </div>

  <div class="row mb-1">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>find your cup.</h1>
      </div>
    </div>
  </div>

  <!-- <hr> -->
  <div class="row mb-1">
    <div class="col-md-12">
      <%= search_form_for @q, :class => "collapse", :id => "beans_filters" do |f| %>
      <p class="lead">Narrow results:</p>

      <div class="form-group">
        <%= f.label :name_cont, "Name" %>
        <%= f.text_field :name_cont, :class => "form-control", :placeholder => "" %>
      </div>

      <div class="form-group">
        <%= f.label :country_name_cont, "Country of Origin" %>
        <%= f.text_field :country_name_cont, :class => "form-control", :placeholder => "" %>
      </div>

      <div class="form-group">
        <%= f.label :roaster_name_cont, "Roaster" %>
        <%= f.text_field :roaster_name_cont, :class => "form-control", :placeholder => "" %>
      </div>

      <div class="form-group">
        <%= f.label :roaster_city_cont, "Roaster City" %>
        <%= f.text_field :roaster_city_cont, :class => "form-control", :placeholder => "" %>
      </div>

      <div class="form-group">
        <%= f.label :flavor_note_1_cont, "Flavor Notes" %>
        <%= f.text_field :flavor_note_1_cont, :class => "form-control", :placeholder => "" %>
      </div>

      <div class="form-group">
        <%= f.label :price_per_bag, "Price per bag" %>
        <div class="row">
          <div class='col-md-6 mb-1'>
            <%= f.text_field :price_per_bag_gteq, :class => "form-control", :placeholder => ">=" %>
          </div>
          <div class='col-md-6'>
            <%= f.text_field :price_per_bag_lteq, :class => "form-control", :placeholder => "<=" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :espresso_eq, "Espresso" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :espresso_eq, "1", checked: ((params[:q] && params[:q][:espresso_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :espresso_eq, "0", checked: ((params[:q] && params[:q][:espresso_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :espresso_eq, ""%> Either
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :blend_eq, "Blend" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :blend_eq, "1", checked: ((params[:q] && params[:q][:blend_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :blend_eq, "0", checked: ((params[:q] && params[:q][:blend_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :blend_eq, ""%> Either
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :caffine_eq, "Caffine" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :caffine_eq, "1", checked: ((params[:q] && params[:q][:caffine_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :caffine_eq, "0", checked: ((params[:q] && params[:q][:caffine_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :caffine_eq, ""%> Either
          </label>
        </div>
      </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/beans" class="btn btn-default btn-block mb-1">Clear filters</a>
      <% end %>
      <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#beans_filters">
        Show Filters
      </a>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3" style="text-align: center;">
      <strong> Sort by: </strong>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <%= sort_link(@q, :name) do %>
      <strong>Name</strong>
      <% end %>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <%= sort_link(@q, :price_per_bag) do %>
      <strong>Price</strong>
      <% end %>
    </div>
      <strong>Date Added</strong>
      <% end %>
    </div>

  <div class="row mb-1">
    <div class="col-md-12">
      <div class="table">
        <% @beans.each do |bean| %>
        <div class="col-md-3">
          <div class="panel panel-default" style="height: 515px;">
            <div class="panel-heading" style="text-align: center;">
              <h4 class="panel-title">
                <a href="/roasters/<%= bean.roaster_id %>"><%= bean.roaster.name %></a>
              </h4>
            </div>
            <div class="panel-body">
              <a href="/beans/<%= bean.id %>">
                <img src="<%= bean.image_url %>" class="img-responsive center-block" style="max-height: 150px;">
              </a>
              <hr>
              <% if bean.name.length < 24 %>
              <h4>
                <a href="/beans/<%= bean.id %>"><%= bean.name %></a>
                <br> </br>
              </h4>
              <% else %>
              <h4>
                <a href="/beans/<%= bean.id %>"><%= bean.name %></a>
              </h4>
              <% end %>
              <% if bean.flavor_note_1.length < 36 %>
              <h5> <%= bean.flavor_note_1.downcase %>
                <br> </br>
              </h5>
              <% else %>
              <h5> <%= bean.flavor_note_1.downcase %>
              </h5>
              <% end %>
              <div class="row">
                <% if bean.reviews.count == 0 %>
                <a href="/beans/<%= bean.id %>" class="btn btn-link">
                  <span title="not yet rated">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </span>
                </a>
                <% else %>
                <% @n = bean.reviews.pluck(:overall_rating).count %>
                <% @avg = bean.reviews.pluck(:overall_rating).inject(0){|sum,x| sum + x } / @n %>
                <% if @avg < 0.75 %>
                <a href="/beans/<%= bean.id %>" class="btn btn-link">
                  <span title="rate bean">
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </span>
                  <small> (<%= @n %>) </small>
                </a>
                <% else %>
                <% if @avg < 1.25 %>
                <a href="/beans/<%= bean.id %>" class="btn btn-link">
                  <span title="rate bean">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                  <small> (<%= @n %>) </small>
                </a>
                <% else %>
                <% if @avg < 1.75 %>
                <a href="/beans/<%= bean.id %>" class="btn btn-link">
                  <span title="rate bean">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </span>
                  <small> (<%= @n %>) </small>
                </a>
                <% else %>
                <% if @avg < 2.25 %>
                <a href="/beans/<%= bean.id %>" class="btn btn-link">
                  <span title="rate bean">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                  <small> (<%= @n %>) </small>
                </a>
                <% else %>
                <% if @avg < 2.75 %>
                <a href="/beans/<%= bean.id %>" class="btn btn-link">
                  <span title="rate bean">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </span>
                  <small> (<%= @n %>) </small>
                </a>
                <% else %>
                <% if @avg < 3.25 %>
                <a href="/beans/<%= bean.id %>" class="btn btn-link">
                  <span title="rate bean">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                  <small> (<%= @n %>) </small>
                </a>
                <% else %>
                <% if @avg < 3.75 %>
                <a href="/beans/<%= bean.id %>" class="btn btn-link">
                  <span title="rate bean">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </span>
                  <small> (<%= @n %>) </small>
                </a>
                <% else %>
                <% if @avg < 4.25 %>
                <a href="/beans/<%= bean.id %>" class="btn btn-link">
                  <span title="rate bean">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                  <small> (<%= @n %>) </small>
                </a>
                <% else %>
                <% if @avg < 4.75 %>
                <a href="/beans/<%= bean.id %>" class="btn btn-link">
                  <span title="rate bean">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </span>
                  <small> (<%= @n %>) </small>
                </a>
                <% else %>
                <a href="/beans/<%= bean.id %>" class="btn btn-link">
                  <span title="rate bean">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                  <small> (<%= @n %>) </small>
                </a>
                <% end %>
                <% end %>
                <% end %>
                <% end %>
                <% end %>
                <% end %>
                <% end %>
                <% end %>
                <% end %>
                <% end %>
              </div>
              <h5> $<%= bean.price_per_bag %> <small> per bag </small></h5>
              <h6> <%= bean.bag_size_grams.to_i %>g / <%= (bean.bag_size_grams * 0.035274).round(1) %>oz </h6>
              <h6> <small> ($<%= (bean.price_per_bag / (bean.bag_size_grams * 0.035274)).round(2)%> per oz) </small> </h6>
              <div class="row">
                <% if bean.labs.include?(current_user) == true %>
                <a href="/delete_inventory/<%= bean.inventories.where(user_id: current_user.id).pluck(:id).to_sentence %>" class="btn btn-link">
                  <span title="remove favorite">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </span>
                </a>
                <% else %>
                <form action="/create_inventory" method="post">
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="bean_id" value="<%= bean.id %>">
                  <input type="hidden" name="user_id" value="<%= current_user.id %>">
                  <span title="make a favorite">
                    <button class="btn btn-link">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </span>
                  </button>
                </form>
                <% end %>
                <% if %>
                <% bean.caffine == true %>
                <span title="caffeinated">
                  <i class="fa fa-rocket" aria-hidden="true"></i>
                </span>
                <% end %>
                <% if %>
                <% bean.blend == true %>
                <span title="blend">
                  <i class="fa fa-flask" aria-hidden="true"></i>
                </span>
                <% end %>
                <% if %>
                <% bean.espresso == true %>
                <span title="espresso">
                  <i class="fa fa-coffee" aria-hidden="true"></i>
                </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-12">
        <%= paginate @beans, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>
