<div class="page-header">
  <h1>
    Marketplace
    <!-- <a href="/beans/new" class="btn btn-lg btn-success">New Bean</a> -->
  </h1>
</div>
<!-- <hr> -->
<div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "beans_filters" do |f| %>
    <p class="lead">Narrow results:</p>

    <div class="form-group">
      <%= f.label :name_cont, "Name contains" %>
      <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
    </div>

    <div class="form-group">
      <%= f.label :description_cont, "Description contains" %>
      <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
    </div>

    <div class="form-group">
      <%= f.label :producer_cont, "Producer contains" %>
      <%= f.text_field :producer_cont, :class => "form-control", :placeholder => "Producer contains" %>
    </div>

    <div class="form-group">
      <%= f.label :espresso_eq, "Espresso" %>
      <div>
        <label class="radio-inline">
          <%= f.radio_button :espresso_eq, "1", checked: ((params[:q] && params[:q][:espresso_eq]) == "1" ? "checked" : "") %> Yes
        </label>
        <label class="radio-inline">
          <%= f.radio_button :espresso_eq, "0", checked: ((params[:q] && params[:q][:espresso_eq]) == "0" ? "checked" : "")%> No
        </label>
        <label class="radio-inline">
          <%= f.radio_button :espresso_eq, ""%> Either
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :blend_eq, "Blend" %>
      <div>
        <label class="radio-inline">
          <%= f.radio_button :blend_eq, "1", checked: ((params[:q] && params[:q][:blend_eq]) == "1" ? "checked" : "") %> Yes
        </label>
        <label class="radio-inline">
          <%= f.radio_button :blend_eq, "0", checked: ((params[:q] && params[:q][:blend_eq]) == "0" ? "checked" : "")%> No
        </label>
        <label class="radio-inline">
          <%= f.radio_button :blend_eq, ""%> Either
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :caffine_eq, "Caffine" %>
      <div>
        <label class="radio-inline">
          <%= f.radio_button :caffine_eq, "1", checked: ((params[:q] && params[:q][:caffine_eq]) == "1" ? "checked" : "") %> Yes
        </label>
        <label class="radio-inline">
          <%= f.radio_button :caffine_eq, "0", checked: ((params[:q] && params[:q][:caffine_eq]) == "0" ? "checked" : "")%> No
        </label>
        <label class="radio-inline">
          <%= f.radio_button :caffine_eq, ""%> Either
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :varietal_cont, "Varietal contains" %>
      <%= f.text_field :varietal_cont, :class => "form-control", :placeholder => "Varietal contains" %>
    </div>

    <div class="form-group">
      <%= f.label :process_cont, "Process contains" %>
      <%= f.text_field :process_cont, :class => "form-control", :placeholder => "Process contains" %>
    </div>

    <div class="form-group">
      <%= f.label :elevation_masl_high, "Elevation masl high" %>
      <div class="row">
        <div class='col-md-6 mb-1'>
          <%= f.text_field :elevation_masl_high_gteq, :class => "form-control", :placeholder => "Elevation masl high greater than or equal to" %>
        </div>
        <div class='col-md-6'>
          <%= f.text_field :elevation_masl_high_lteq, :class => "form-control", :placeholder => "Elevation masl high less than or equal to" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :elevation_masl_low, "Elevation masl low" %>
      <div class="row">
        <div class='col-md-6 mb-1'>
          <%= f.text_field :elevation_masl_low_gteq, :class => "form-control", :placeholder => "Elevation masl low greater than or equal to" %>
        </div>
        <div class='col-md-6'>
          <%= f.text_field :elevation_masl_low_lteq, :class => "form-control", :placeholder => "Elevation masl low less than or equal to" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :bag_size_grams, "Bag size grams" %>
      <div class="row">
        <div class='col-md-6 mb-1'>
          <%= f.text_field :bag_size_grams_gteq, :class => "form-control", :placeholder => "Bag size grams greater than or equal to" %>
        </div>
        <div class='col-md-6'>
          <%= f.text_field :bag_size_grams_lteq, :class => "form-control", :placeholder => "Bag size grams less than or equal to" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :price_per_bag, "Price per bag" %>
      <div class="row">
        <div class='col-md-6 mb-1'>
          <%= f.text_field :price_per_bag_gteq, :class => "form-control", :placeholder => "Price per bag greater than or equal to" %>
        </div>
        <div class='col-md-6'>
          <%= f.text_field :price_per_bag_lteq, :class => "form-control", :placeholder => "Price per bag less than or equal to" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :flavor_note_3_cont, "Flavor note 3 contains" %>
      <%= f.text_field :flavor_note_3_cont, :class => "form-control", :placeholder => "Flavor note 3 contains" %>
    </div>

    <div class="form-group">
      <%= f.label :flavor_note_2_cont, "Flavor note 2 contains" %>
      <%= f.text_field :flavor_note_2_cont, :class => "form-control", :placeholder => "Flavor note 2 contains" %>
    </div>

    <div class="form-group">
      <%= f.label :flavor_note_1_cont, "Flavor note 1 contains" %>
      <%= f.text_field :flavor_note_1_cont, :class => "form-control", :placeholder => "Flavor note 1 contains" %>
    </div>

    <div class="form-group">
      <%= f.label :image_url_cont, "Image url contains" %>
      <%= f.text_field :image_url_cont, :class => "form-control", :placeholder => "Image url contains" %>
    </div>

    <div class="form-group">
      <%= f.label :website_url_cont, "Website url contains" %>
      <%= f.text_field :website_url_cont, :class => "form-control", :placeholder => "Website url contains" %>
    </div>

    <div class="form-group">
      <%= f.label :created_at, "Created at" %>
      <div class="row">
        <div class='col-md-6 mb-1'>
          <div class='input-group date' id='created_atgteqPicker'>
            <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class='col-md-6'>
          <div class='input-group date' id='created_atlteqPicker'>
            <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    $(function () {
      $('#created_atgteqPicker').datetimepicker({
        format: 'YYYY-MM-DD hh:mm:SS'
      });
      $('#created_atlteqPicker').datetimepicker({
        useCurrent: false,
        format: 'YYYY-MM-DD hh:mm:SS'
      });
      $('#created_atgteqPicker').on("dp.change", function (e) {
        $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
      });
      $('#created_atlteqPicker').on("dp.change", function (e) {
        $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
      });
    });
    </script>

    <div class="form-group">
      <%= f.label :country_description_cont, "OriginCountry description contains" %>
      <%= f.text_field :country_description_cont, :class => "form-control", :placeholder => "OriginCountry description contains" %>
    </div>

    <div class="form-group">
      <%= f.label :roaster_description_cont, "Roaster description contains" %>
      <%= f.text_field :roaster_description_cont, :class => "form-control", :placeholder => "Roaster description contains" %>
    </div>

    <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

    <a href="/beans" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#beans_filters">
      Show Filters
    </a>
  </div>
</div>


<div class="container">
  <div class="table">
    <% @beans.each do |bean| %>
    <div class="col-md-3">
      <div class="panel panel-default" style="height: 500px;">
        <div class="panel-heading" style="text-align: center;">
          <h4 class="panel-title">
            <a href="/roasters/<% bean.roaster_id %>"><%= bean.roaster.name %></a>
          </h4>
        </div>
        <div class="panel-body">
          <a href="/beans/<%= bean.id %>">
            <img src="<%= bean.image_url %>" class="img-responsive center-block" style="max-height: 150px;">
          </a>
          <hr>
          <h4>
            <a href="/beans/<%= bean.id %>"><%= bean.name %></a>
          </h4>
          <h5> <%= bean.flavor_note_1 %>, <%= bean.flavor_note_2 %>, <%= bean.flavor_note_3 %> </h5>
          <% if bean.reviews.count == 0 %>
          <p> not yet rated </p>
          <% else %>
          <!-- <script type="text/javascript">
          $.fn.stars = function() {
          return $(this).each(function() {
          // Get the value
          var val = parseFloat($(this).html());
          // Make sure that the value is in 0 - 5 range, multiply to get width
          val = Math.round(val * 4) / 4; /* To round to nearest quarter */
          var size = Math.max(0, (Math.min(5, val))) * 16;
          // Create stars holder
          var $span = $('<span />').width(size);
          // Replace the numerical value with stars
          $(this).html($span);
        });
      }
    </script>

    <script type="text/javascript">
    $(function() {
    $('span.stars').stars();
  });
</script>
<span class="stars">4.8618164</span> -->
<p> <%= bean.reviews.count %> </p>
<% end %>
<h5> $<%= bean.price_per_bag %> <small> per bag </small></h5>
<h6> <%= bean.bag_size_grams.to_i %>g / <%= (bean.bag_size_grams * 0.035274).round(1) %>oz </h6>
<h6> <small> ($<%= (bean.price_per_bag / (bean.bag_size_grams * 0.035274)).round(2)%> per oz) </small> </h6>
<div class="row">
<% if bean.labs.include?(current_user) == true %>
<a href="/delete_inventory/<%= bean.inventories.where(user_id: current_user.id).pluck(:id).to_sentence %>" class="btn btn-link">
  <span title="remove favorite">
    <i class="fa fa-heart" aria-hidden="true"></i>
  </span>
</a>
<% else %>
  <form action="/create_inventory" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="hidden" name="bean_id" value="<%= bean.id %>">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <span title="make a favorite">
      <button class="btn btn-link">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </span>
  </button>
  </form>
    <% end %>
  <% if %>
  <% bean.caffine == true %>
    <span title="caffeinated">
      <i class="fa fa-rocket" aria-hidden="true"></i>
    </span>
  <% end %>
  <% if %>
  <% bean.blend == true %>
    <span title="blend">
      <i class="fa fa-flask" aria-hidden="true"></i>
    </span>
  <% end %>
  <% if %>
  <% bean.espresso == true %>
      <span title="espresso">
      <i class="fa fa-coffee" aria-hidden="true"></i>
    </span>
  <% end %>
</div>
</div>
</div>
</div>
<% end %>
</div>
<%= paginate @beans, theme: 'twitter-bootstrap-4' %>
</div>


<div class="row m-b-2">
  <div class="col-md-12">
    <div>
      <div id="location_map" style="height: 480px;"></div>
    </div>
  </div>
</div>

</div>

<!-- <script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
</script> -->
