<div class="page-header">
  <h3>Bean #<%= @bean.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @bean.name %></dd>

      <dt>Roaster</dt>
      <dd><%= @bean.roaster_id %></dd>

      <dt>Website url</dt>
      <dd><%= @bean.website_url %></dd>

      <dt>Image url</dt>
      <dd><%= @bean.image_url %></dd>

      <dt>Flavor note 1</dt>
      <dd><%= @bean.flavor_note_1 %></dd>

      <dt>Flavor note 2</dt>
      <dd><%= @bean.flavor_note_2 %></dd>

      <dt>Flavor note 3</dt>
      <dd><%= @bean.flavor_note_3 %></dd>

      <dt>Price per bag</dt>
      <dd><%= @bean.price_per_bag %></dd>

      <dt>Std bag size in ounces</dt>
      <dd><%= @bean.std_bag_size_in_ounces %></dd>

      <dt>Elevation low</dt>
      <dd><%= @bean.elevation_low %></dd>

      <dt>Elevation high</dt>
      <dd><%= @bean.elevation_high %></dd>

      <dt>Process</dt>
      <dd><%= @bean.process %></dd>

      <dt>Varietal</dt>
      <dd><%= @bean.varietal %></dd>

      <dt>Origin country</dt>
      <dd><%= @bean.origin_country_id %></dd>

      <dt>Caffine</dt>
      <dd><%= @bean.caffine %></dd>

      <dt>Blend</dt>
      <dd><%= @bean.blend %></dd>

      <dt>Espresso</dt>
      <dd><%= @bean.espresso %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/beans" class="btn btn-primary">
        Back
      </a>
      <a href="/beans/<%= @bean.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bean/<%= @bean.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Bean has many inventories -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Inventories
      </li>

      <% @bean.inventories.each do |inventory| %>
        <li class="list-group-item">
          <a href="/inventories/<%= inventory.id %>">
            <%= inventory.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/inventories/<%= inventory.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/inventories/<%= inventory.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_inventory/<%= inventory.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Bean has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @bean.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
