<div class="page-header">
  <h3>Bean #<%= @bean.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @bean.name %></dd>

      <dt>Roaster</dt>
      <dd><%= @bean.roaster_id %></dd>

      <dt>Website url</dt>
      <dd><%= @bean.website_url %></dd>

      <dt>Image url</dt>
      <dd><%= @bean.image_url %></dd>

      <dt>Flavor note 1</dt>
      <dd><%= @bean.flavor_note_1 %></dd>

      <dt>Flavor note 2</dt>
      <dd><%= @bean.flavor_note_2 %></dd>

      <dt>Flavor note 3</dt>
      <dd><%= @bean.flavor_note_3 %></dd>

      <dt>Price per bag</dt>
      <dd><%= @bean.price_per_bag %></dd>

      <dt>Std bag size in ounces</dt>
      <dd><%= @bean.std_bag_size_in_ounces %></dd>

      <dt>Elevation low</dt>
      <dd><%= @bean.elevation_low %></dd>

      <dt>Elevation high</dt>
      <dd><%= @bean.elevation_high %></dd>

      <dt>Process</dt>
      <dd><%= @bean.process %></dd>

      <dt>Varietal</dt>
      <dd><%= @bean.varietal %></dd>

      <dt>Origin country</dt>
      <dd><%= @bean.origin_country_id %></dd>

      <dt>Caffine</dt>
      <dd><%= @bean.caffine %></dd>

      <dt>Blend</dt>
      <dd><%= @bean.blend %></dd>

      <dt>Espresso</dt>
      <dd><%= @bean.espresso %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/beans" class="btn btn-primary">
        Back
      </a>
      <a href="/beans/<%= @bean.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bean/<%= @bean.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Bean has many inventories -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Inventories
      </li>

      <% @bean.inventories.each do |inventory| %>
        <li class="list-group-item">
          <a href="/inventories/<%= inventory.id %>">
            <%= inventory.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/inventories/<%= inventory.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/inventories/<%= inventory.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_inventory/<%= inventory.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_inventory" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for bean_id -->
      <input type="hidden" name="bean_id" value="<%= @bean.id %>">

      <!-- Label and input for quantity_ounces -->
      <div class="form-group">
        <label for="quantity_ounces" class="control-label">
          Quantity ounces
        </label>

        <input type="text" id="quantity_ounces" name="quantity_ounces" placeholder="Quantity ounces" class="form-control" value="">
      </div>

      <!-- Label and input for roast_date -->
      <div class="form-group">
        <label for="roast_date" class="control-label">
          Roast date
        </label>

        <input type="text" id="roast_date" name="roast_date" placeholder="Roast date" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Inventory
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Bean has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @bean.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_review" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for bean_id -->
      <input type="hidden" name="bean_id" value="<%= @bean.id %>">

      <!-- Label and input for overall_rating -->
      <div class="form-group">
        <label for="overall_rating" class="control-label">
          Overall rating
        </label>

        <input type="text" id="overall_rating" name="overall_rating" placeholder="Overall rating" class="form-control" value="">
      </div>

      <!-- Label and input for comments -->
      <div class="form-group">
        <label for="comments" class="control-label">
          Comments
        </label>

        <textarea id="comments" name="comments" placeholder="Comments" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="file" id="image" name="image" class="form-control">
      </div>

      <button class="btn btn-block btn-success">
        Create Review
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
