<!-- Validation failure messages -->
<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_review/<%= @review.id %>" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @review.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for bean_id -->
      <div class="form-group">
        <label for="bean_id" class="control-label">
          Bean
        </label>

        <%= select_tag(:bean_id, options_from_collection_for_select(Bean.all, :id, :name, @review.bean_id), :class => "form-control") %>
      </div>

      <!-- Label and input for overall_rating -->
      <div class="form-group">
        <label for="overall_rating" class="control-label">
          Overall rating
        </label>

        <input type="text" id="overall_rating" name="overall_rating" placeholder="Overall rating" class="form-control" value="<%= @review.overall_rating %>">
      </div>

      <!-- Label and input for comments -->
      <div class="form-group">
        <label for="comments" class="control-label">
          Comments
        </label>

        <textarea id="comments" name="comments" placeholder="Comments" class="form-control" rows="3"><%= @review.comments %></textarea>
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <%= cl_image_tag(@review.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
        <input type="file" id="image" name="image" class="form-control">
      </div>

      <button class="btn btn-warning">
        Update Review
      </button>
      or
      <a href="/reviews/<%= @review.id %>">Cancel</a>
    </form>
  </div>
</div>
