<!-- <div class="col-md-3 col-md-offset-1">
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">
      Following (<%= current_user.friends_where_sender.count %>)
    </li>
    <% current_user.friends_where_sender.each do |user| %>
      <li class="list-group-item"><%= user.username %><small> (<%= user.first_name %> <%= user.last_name %>) </small></li>
    <% end %>
  </ul>

  <ul class="list-group">
    <li class="list-group-item list-group-item-success">
      Followed By (<%= current_user.friends_where_receiver.count %>)
    </li>
    <% current_user.friends_where_receiver.each do |user| %>
      <li class="list-group-item"><%= user.username %><small> (<%= user.first_name %> <%= user.last_name %>) </small></li>
    <% end %>
  </ul>
</div> -->
